In [37]:
# Just making copies of all the files
import pandas as pd
# Replace 'your_csv_file.csv' with the path to your CSV file
csv_file = '/Users/saudahmad/desktop/archive (5)/data3.csv'
new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/data3.csv'
df = pd.read_csv(csv_file)
data = pd.DataFrame(df)
data.to_csv(new_csv_file, index=False)
print(data.head(1))
print("Done")

In [372]:

# #Searching for empty cells in a column
my_csv = '/Users/saudahmad/desktop/archive (5)/update/data1.csv'
df = pd.read_csv(my_csv)
data1 = pd.DataFrame(df)
for i in range(21):
    print(data1.iloc[:,i].isnull().unique())
print("////")

my_csv = '/Users/saudahmad/desktop/archive (5)/update/data2.csv'
df = pd.read_csv(my_csv)
data2 = pd.DataFrame(df)
for i in range(24):
    print(data2.iloc[:,i].isnull().unique())
print("////")

my_csv = '/Users/saudahmad/desktop/archive (5)/update/data3.csv'
df = pd.read_csv(my_csv)
data3 = pd.DataFrame(df)
for i in range(24):
    print(data3.iloc[:,i].isnull().unique())


# Putting zero on empty cells
data1.fillna(0, inplace=True)  # Fills all NaN values with 0
data2.fillna(0, inplace=True)  # Fills all NaN values with 0
data3.fillna(0, inplace=True)  # Fills all NaN values with 0



# Count of unuque elements in a row
my_csv = '/Users/saudahmad/desktop/archive (5)/update/data1.csv'
df = pd.read_csv(my_csv)
data1 = pd.DataFrame(df)
for i in range(21):
    print(data1.iloc[:,i].count())
print("////")

my_csv = '/Users/saudahmad/desktop/archive (5)/update/data2.csv'
df = pd.read_csv(my_csv)
data2 = pd.DataFrame(df)
for i in range(24):
    print(data2.iloc[:,i].count())
print("////")

my_csv = '/Users/saudahmad/desktop/archive (5)/update/data3.csv'
df = pd.read_csv(my_csv)
data3 = pd.DataFrame(df)
for i in range(24):
    print(data3.iloc[:,i].count())

# Eleminating empty rows
data1 = data1.iloc[:,[0,1,2,3,4,5,6,7,8,9,11,13,14,15,16,17,20]]

/var/folders/wl/nj0lsj9j7p5d9n013793d8vh0000gn/T/ipykernel_32434/149976088.py:3: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(my_csv)

[False]
[False  True]
[False  True]
[False]
[False]
[False]
[False]
[False  True]
[False  True]
[False]
[ True False]
[False  True]
[ True False]
[False  True]
[False  True]
[False]
[False  True]
[False  True]
[ True]
[ True]
[False  True]
////
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[ True False]
[ True False]
[ True False]
[ True False]
[False]
[False]
[False]
[False]
[False]
[False]
////
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[False]
[ True False]
[False]
[False]
[ True False]
[False]
[False]
[False]
[False]
[False  True]
[False]
[False]

/var/folders/wl/nj0lsj9j7p5d9n013793d8vh0000gn/T/ipykernel_32434/149976088.py:32: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(my_csv)

34660
27900
34658
34660
34660
34660
34660
34621
24039
34660
1
34066
1
34131
34627
34660
34659
34655
0
0
34658
////
28332
28332
28332
28332
28332
28332
28332
28332
28332
28332
28332
28332
28332
28332
9
16086
41
16115
28332
28332
28332
28332
28332
28332
////
5000
5000
5000
5000
5000
5000
5000
5000
5000
5000
5000
5000
5000
1052
5000
5000
29
5000
5000
5000
5000
4987
5000
5000

In [401]:
# Now lets break the data into facts and dimensions
# For Fact1
new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/data1.csv'
df = pd.read_csv(new_csv_file)
data = pd.DataFrame(df)
fact1 = data[['id', 'asins', 'keys', 'reviews.date', 'reviews.dateAdded','reviews.didPurchase','reviews.dateSeen', 'reviews.doRecommend',
             'reviews.id', 'reviews.numHelpful', 'reviews.rating']]

# For Dimension1
columns_to_exclude = ['id', 'asins', 'keys', 'reviews.date', 'reviews.dateAdded','reviews.didPurchase','reviews.dateSeen', 'reviews.doRecommend',
             'reviews.id', 'reviews.numHelpful', 'reviews.rating']
dim1 = data.drop(columns=columns_to_exclude)

/var/folders/wl/nj0lsj9j7p5d9n013793d8vh0000gn/T/ipykernel_32434/4205027485.py:4: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(new_csv_file)

In [381]:
#For fact2
new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/data2.csv'
df = pd.read_csv(new_csv_file)
data = pd.DataFrame(df)
fact2 = data[['id', 'dateAdded', 'dateUpdated', 'asins', 'keys', 'manufacturerNumber', 'reviews.date',
             'reviews.dateSeen', 'reviews.didPurchase', 'reviews.doRecommend','reviews.id','reviews.numHelpful','reviews.rating']]

# For Dimension2
columns_to_exclude = ['id', 'dateAdded', 'dateUpdated', 'asins', 'keys', 'manufacturerNumber', 'reviews.date',
              'reviews.dateSeen','reviews.didPurchase','reviews.doRecommend','reviews.id','reviews.numHelpful','reviews.rating']
dim2 = data.drop(columns=columns_to_exclude)

In [402]:
dim1.iloc[0]

name                    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...
brand                                                              Amazon
categories              Electronics,iPad & Tablets,All Tablets,Fire Ta...
manufacturer                                                       Amazon
reviews.sourceURLs      http://reviews.bestbuy.com/3545/5620406/review...
reviews.text            This product so far has not disappointed. My c...
reviews.title                                                      Kindle
reviews.userCity                                                      NaN
reviews.userProvince                                                  NaN
reviews.username                                                  Adapter
Name: 0, dtype: object

In [382]:
# For fact3
new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/data3.csv'
df = pd.read_csv(new_csv_file)
data = pd.DataFrame(df)
fact3 = data[['id', 'dateAdded', 'dateUpdated', 'asins', 'keys', 'manufacturerNumber', 'reviews.date',
             'reviews.dateSeen', 'reviews.dateAdded', 'reviews.doRecommend','reviews.id','reviews.numHelpful','reviews.rating']]

# For Dimension3
columns_to_exclude = ['id', 'dateAdded', 'dateUpdated', 'asins', 'keys', 'manufacturerNumber', 'reviews.date',
             'reviews.dateSeen', 'reviews.dateAdded', 'reviews.doRecommend','reviews.id','reviews.numHelpful','reviews.rating']
dim3 = data.drop(columns=columns_to_exclude)

In [410]:
# To change the columns name 

fact1.columns = ['id', 'asins', 'keys', 'reviews_date', 'reviews_dateAdded','reviews_didPurchase','reviews_dateSeen', 'reviews_doRecommend',
             'reviews_id', 'reviews_numHelpful', 'reviews_rating']

fact2.columns = ['id', 'dateAdded', 'dateUpdated', 'asins', 'keys', 'manufacturerNumber', 'reviews_date',
                 'reviews_dateSeen', 'reviews_didPurchase', 'reviews_doRecommend','reviews_id','reviews_numHelpful','reviews_rating']

fact3.columns = ['id', 'dateAdded', 'dateUpdated', 'asins', 'keys', 'manufacturerNumber', 'reviews_date',
             'reviews_dateSeen', 'reviews_dateAdded', 'reviews_doRecommend','reviews_id','reviews_numHelpful','reviews_rating']

dim1.columns = ['name', 'brand', 'categories','manufacturer', 'reviews_sourceURLs', 'reviews_text', 'reviews_title','reviews_userCity'
       ,'reviews_userProvince','reviews_username']

dim2.columns = ['name', 'brand', 'categories', 'primaryCategories', 'imageURLs','manufacturer', 'reviews_sourceURLs', 'reviews_text', 'reviews_title',
       'reviews_username', 'sourceURLs']

dim3.columns = ['name', 'brand', 'categories', 'primaryCategories', 'imageURLs','manufacturer', 'reviews_sourceURLs', 'reviews_text', 'reviews_title',
       'reviews_username', 'sourceURLs']

# print(dim3.head())

In [411]:
# Loading the data to the already made csv files 
# new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/fact1.csv'
# fact1.to_csv(new_csv_file, index=False)

# new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/fact2.csv'
# fact2.to_csv(new_csv_file, index=False)

# new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/fact3.csv'
# fact3.to_csv(new_csv_file, index=False)

new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/dim1.csv'
dim1.to_csv(new_csv_file, index=False)

# new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/dim2.csv'
# dim2.to_csv(new_csv_file, index=False)

# new_csv_file = '/Users/saudahmad/desktop/archive (5)/update/dim3.csv'
# dim3.to_csv(new_csv_file, index=False)

In [409]:
# To load data to their respective tables
dim1.shape

(34660, 10)

In [412]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# Example: Creating a DataFrame (this should be replaced with your actual data source)
# Replace 'path_to_your_csv_file.csv' with the path to your CSV file
csv_file = '/Users/saudahmad/Desktop/archive (5)/update/dim1.csv'
df = pd.read_csv(csv_file)

# Connect to the MySQL database
try:
    connection = mysql.connector.connect(
        host='localhost',       # or the hostname of your MySQL server
        user='root',            # your MySQL username
        passwd='12345678',      # your MySQL password
        database='staging_area'         # the database you want to connect to
    )

    # Insert data from the DataFrame into the MySQL table
    if connection is not None and connection.is_connected():
        cursor = connection.cursor()

    # Enclose column names in backticks to handle reserved words and special characters
    cols = ','.join([f'`{col}`' for col in df.columns])
    placeholders = ','.join(['%s'] * len(df.columns))
    sql = f"INSERT INTO dim1 ({cols}) VALUES ({placeholders})"

    # Iterate over the rows and insert them into the database
    for row in df.itertuples(index=False, name=None):
        cursor.execute(sql, row)

    connection.commit()
    cursor.close()
except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        connection.close()
print("Done")

Done

In [ ]:
#Data visualization

In [485]:
import mysql.connector
import pandas as pd


conn = mysql.connector.connect(
    host='localhost',       # or the hostname of your MySQL server
    user='root',   # your MySQL username
    passwd='12345678', # your MySQL password
    database='my_warehouse' # the database you want to connect to
)


sql_query1 = "select reviews_text from dim1"
sql_query2 = "select reviews_text from dim2"
sql_query3 = "select reviews_text from dim3"


# Use pandas to fetch the data into a DataFrame
df1 = pd.read_sql_query(sql_query1, conn)
df2 = pd.read_sql_query(sql_query2, conn)
df3 = pd.read_sql_query(sql_query3, conn)

# Close the database connection
conn.close()

/var/folders/wl/nj0lsj9j7p5d9n013793d8vh0000gn/T/ipykernel_32434/793248824.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query(sql_query1, conn)
/var/folders/wl/nj0lsj9j7p5d9n013793d8vh0000gn/T/ipykernel_32434/793248824.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query(sql_query2, conn)
/var/folders/wl/nj0lsj9j7p5d9n013793d8vh0000gn/T/ipykernel_32434/793248824.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql_query(sql_query3, conn)

In [530]:

data = pd.concat([df1, df2, df3], axis=1)

In [531]:
data.head()

,reviews_text,reviews_text,reviews_text
0,"Useful for adults, educational and entertainin...",I order 3 of them and one of the item is bad q...,Didnt know how much i'd use a kindle so went f...
1,We actually bought these for our summer camp p...,Bulk is always the less expensive way to go fo...,I thought it would be as big as small paper bu...
2,This product so far has not disappointed. My c...,Well they are not Duracell but for the price i...,Solid entry level Kindle. Great for kids. Gift...
3,"It is an ok tablet. As I am using it, I lose m...",Seem to work as well as name brand batteries a...,This kindle is light and easy to use especiall...
4,great for beginner or experienced person. Boug...,These batteries are very long lasting the pric...,I am 100 happy with my purchase. I caught it o...

In [563]:
# data.tail()
# 34659
import matplotlib.pyplot as plt
from wordcloud import WordCloud,STOPWORDS
import sys,os


text = open('/Users/saudahmad/Desktop/archive (5)/update/new/text.csv',mode='r',encoding ='utf_8').read()

stopwords = STOPWORDS

wc = WordCloud(
    
    background_color = 'black',
    stopwords = stopwords,
    height = 1600,
    width  = 2560
       
       )
wc.generate(text)

wc.to_file('word_cloud.png')

In [1]:
from PIL import Image

# Open the PNG image
image = Image.open('word_cloud.png')

# Display the image
image.show()

df3.tail()

In [ ]:
# Querries used till now

In [ ]:
# to drop columns
ALTER TABLE your_table
DROP COLUMN column1,
DROP COLUMN column2,
DROP COLUMN column3;

# to add a column(primary key) which will automatically increase 
ALTER TABLE your_table
ADD id INT AUTO_INCREMENT PRIMARY KEY;

# to rename a table
RENAME TABLE your_table_copy TO your_table;

# to delete a row
DELETE FROM fact2 WHERE u_id2 = 1;

# to make changes in a table we have to set this to 0
SET SQL_SAFE_UPDATES = 0;

# To transfer data from one data base to another
CREATE TABLE target_db.employees AS
SELECT *
FROM source_db.employees;

# To see the columns names
SHOW COLUMNS FROM fact1;

# Adding a foreign key constrain
ALTER TABLE fact1
ADD CONSTRAINT fk_fact2
FOREIGN KEY (pk_fact2)
REFERENCES fact2 (u_id2)

# Dropping a foreign key constrain
ALTER TABLE fact3
DROP FOREIGN KEY fk_data3;


# to make sure the unqueness of the key selected as foreign key
ALTER TABLE dim3
ADD UNIQUE INDEX idx_pk_dim3 (pk_dim3);
# to undo the above query 
DROP INDEX idx_pk_dim1 ON dim2;